/* % Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(229, 95, 122);
}


/* % CSS Spacing  */
h1 {
    color: red;
    background-color:rgb(235, 199, 51);
    text-align: center;
    border: 2px solid #333;
    padding: 1rem 3rem;
}

#div-class1 {
    background-color: coral;
    width: 150px;
    height: 50px;
    /* margin: 2rem 1rem auto auto; */
    /* margin: 0 auto; */
    /* margin-top: -10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 10px; */
    /* margin: 3rem auto; */
    /* border: 2px solid #333; */
    /* padding: 1rem 3rem; */
    /* box-sizing: border-box; */
}
#div-class2 {
    background-color: aqua;
    width: 50px;
    height: 50px;
    /* margin: -2rem auto; */
    /* border-right: 2.3em groove #f00; */
}
/* padding: 0 3rem; */


/* div {
    display: inline-block;
} */

/* blockquote {
    margin: 0;
    padding: 2rem;
    background-color: chartreuse;
} */